<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makan Yuks</title>
</head>
<body>
    <a href="#content" class="skip-link-content">Skip content?</a>
    <!-- U/mobile Navbar -->
    <div class="menucss">
        <div class="iconmenu" id="menu"><a href="#">&#9776;</a></div>
        <div class="logocss">Makan Yuks</div>
        <div class="logocss">&nbsp;</div>
    </div>
    <nav id="drawer" class="navcss">
        <ul class="navlistcss">
            <li class="navitemscss"><a href="">Home</a></li>
            <li class="navitemscss"><a href="#">Favorite</a></li>
            <li class="navitemscss"><a target="_blank" href="https://github.com/amarmaulana95/">About Us</a></li>
        </ul>
    </nav>
    <!-- U/Desktop Navbar -->
    <nav class="nav">
        <a class="logo" href="">Makan Yuks</a>
        <ul class="navlist">
            <li class="navitems"><a href="">Home</a></li>
            <li class="navitems"><a href="#">Favorite</a></li>
            <li class="navitems"><a target="_blank" href="https://github.com/amarmaulana95/">About Us</a></li>
        </ul>
    </nav>
    <!-- Jumbotron -->
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_2.jpg');">
        <div class="heroinner">
            <h1 class="herotitle">Makan Yuks</h1>
            <p class="herosubtitle">Menyajikan konten makanan yang bisa dilihat.</p>
        </div>
    </div>
    <!-- Content -->
    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>List Restaurant</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <p>Copyright © 2021 - Makan Yuks</p>
    </footer>
</body>
</html>